.section-hero {
  padding-top: 235px;
  padding-bottom: 180px;
}

.container.is-hero {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.hero-text {
  max-width: 597px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 48px;
  color: rgba(251, 251, 251, 0.7);
}

.hero-button {
  padding: 16px 40px;
  border-radius: 15px;
  background-color: #1b414b;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}
